<!-- <section>
  <ul>
    <li *ngFor="let joke of jokes">

      <p class="card" [hidden]="hide">Texto do card</p>{{joke.publishin}}

      <button (click)="toggle(joke)">
        Tell me component
      </button>

    </li>
  </ul>
</section>

<div *ngFor="let j of jokesObj">
  <app-joke #index [arrayPai]="jokesObj" (feedback)="reciverFeedback($event)" ></app-joke>
</div>
 -->

<!-- <app-card></app-card> -->
<h1 #local>Bem vindo ao Portal do acessor!</h1>

{{local.nodeName}}
<app-child></app-child>
