<div id="card-block" class="card card-block" appCardHoder>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. In consequatur beatae doloribus suscipit molestiae vel quisquam repellat consectetur, eos at veniam vero harum ullam minus nulla. Iste, voluptatum porro! Eos!

  <p class="card-text">texto do card text</p>

  <section class="card-section">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus aspernatur officia quidem quibusdam iusto, ipsam velit facilis exercitationem suscipit ut repudiandae veritatis itaque. Provident, fuga voluptatum eius perspiciatis dolor magnam.
  </section>

  <section class="card-outline-primary">
    <h3>card outline primary</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est laboriosam excepturi in molestias. Maiores natus nostrum inventore numquam adipisci quod possimus, asperiores nobis! Iure doloribus, consectetur laborum sed rerum expedita.</p>
  </section>
</div>
